<%- include('./partials/header.ejs', { pageTitle: 'Desenhos' }) %>
<h1>Código: Fabio</h1>
<h2> Todos os Desenhos na Página desenhos: Fabio também</h2>
<p>Os outros: SIM</p>


<br> <br> <br>
<a href="menu">ME REMOVA PRECISO ENCARAR A TELA PRINCIPAL!!!</a><br>
<img src="../img/feiscream.png"> <br><br>


</body>
</html>