<%- include('./partials/header.ejs', { pageTitle: 'Desenhos' }) %>
<a href="menu">Encarar Tela Principal AGORA</a> <br><br><br>

<img src="../img/silly.png">
<br>
<img src="../img/rebecca.png">
<br>
<img src="../img/rebeccaart.png" width="70%">
<br>
<img src="../img/smokingjackie.png">
<br>
<img src="../img/namismall.png">
<br>
<img src="../img/theendnobg.png">
<p>fim</p>
</body>
</html>