<%- include('./partials/header.ejs', { pageTitle: 'Inicio' }) %>
        <h1>Bem Vindo(a). Faça o Login para poder acessar o conteúdo do meu site secreto.</h1>
        <br>
        <br>
        <a href="register">Vender Suas Informações Privadas</a>
        <br>
        <a href="login">Já Vendi Minha Alma</a>
        <br>
    </body>
    <img width="50%"src="../img/snoopdogg.jpg">
</html>
