<%- include('./partials/header.ejs', { pageTitle: 'Menu Secreto' }) %>
        <h1>Conteudo Secreto</h1>
        <p>mais bem conhecida como TELA PRINCIPAL</p>
        <a href="games">Jogos</a><br><br>
        <a href="drawings">Desenhos</a><br><br>
        <button class="unclickable-button">Segredos do Governo</button><br><br>
        <a href="creditos">Creditos</a>
        <br>
        <button id="testeButton" class="teste">Click</button>
        <script src="../script/script.js"></script>
        
    </body>
</html>