html {
    background-color: rgb(255, 255, 255);
}
body {
    background-color: rgb(199, 215, 249);
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

h1 {
    color: rgb(4, 51, 54);
    margin-left: 20px;
  }

  body {
    text-align: center; /* Align the text in the center */
}

h1 {
    margin-bottom: 20px; /* Add some space below the heading */
}

a {
    display: inline-block; /* Make the <a> elements behave like blocks */
    margin: 10px; /* Add some margin to separate the links */
    text-decoration: none; /* Remove the default underline */
    padding: 10px 20px; /* Add padding to the links for better visual appearance */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 5px; /* Optional: Add rounded corners */
    background-color: #f0f0f0; /* Optional: Add background color */
    color: #333; /* Set the text color */
}

.teste {
    display: inline-block; /* Make the buttons behave like blocks */
    margin: 10px; /* Add some margin to separate the buttons */
    padding: 10px 20px; /* Add padding to the buttons for better visual appearance */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 5px; /* Optional: Add rounded corners */
    background-color: #8ac6fd; /* Set the default background color */
    color: #333; /* Set the text color */
    cursor: pointer; /* Add a pointer cursor on hover */
}

.teste:hover {
    background: aliceblue;
}

.returnGame {
    text-align: left;
    background-color:rgb(0, 52, 182);
    color:aliceblue
}

.unclickable-button {
    background-color: rgb(4, 17, 160); /* Background color for the button */
    color: rgb(17, 222, 253); /* Text color for the button */
    border: 1px solid rgb(254, 104, 104); /* Add a border for better visibility */
    border-radius: 5px; /* Optional: Add rounded corners */
    padding: 10px 20px; /* Padding for the button */
    font-size: 16px; /* Font size */
    cursor: not-allowed; /* Display "not allowed" cursor */
    outline: none; /* Remove focus outline */
    bottom: 80%; /* Adjust the distance from the bottom */
    right: 30%; /* Adjust the distance from the right */
  }

  .feiScream {
    background-image: "../img/feiscream.png"
  }

  .chuteBody {
    background-color:palevioletred
  }